/*
 * Core layouts for different breakpoints
 */
@media only screen and (min-width: 320px) {

	body:before {
		content: 'small';
		visibility: hidden;
		float: left;
	}
	
	.pageWrap {
		background: red;
		max-width: 599px;
	}

}


@media only screen and (min-width: 600px) {

	body:before {
		content: 'medium';
		visibility: hidden;
		float: left;
	}
	
	.pageWrap {
		background: blue;
		max-width: 1007px;
	}

}

@media only screen and (min-width: 1008px) {

	body:before {
		content: 'large';
		visibility: hidden;
		float: left;
	}
	
	.pageWrap {
		background: green;
		width: 1008px;
	}

}
