body:before {
	content: 'small';
	display: none;
}

.pageWrap {
	background: red;
	margin: 0px auto;
	width: 320px;
	padding: 20px 1px;
}

.imgWrap {
	border: dotted #999999 1px;
	background: #ffffff;
	padding-bottom: 50%;
	position: relative;
}

.imgWrap img {
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
}

